.App {
  /* text-align: center; */
  font-family: Roboto,Arial,sans-serif;
}
input{
  border: 0px;
  outline: 0px ;
}
.brand-input{
  border-bottom: 2px solid grey ;
  width: fit-content;
  display: flex;
  justify-content: center;
}